CompileFlags:
  Add: [
    -emit-llvm,
    -Wall,
    -Wshadow,
    -Ilibbpf-bootstrap,
    -I../libbpf-bootstrap,
    -Ilibbpf-bootstrap/vmlinux/,
    -I../libbpf-bootstrap/vmlinux/,
    -nostdinc,
    -std=gnu11
  ]
